   body{
    max-width: 100%;
    overflow-x: hidden;
   }

   .container-fluid {
    padding-right:0;
    padding-left:0;
 }

 .company-whole{
     overflow-x: hidden;
     width: 100%;
 }
 .whole-page{
 	  overflow-x: hidden;
    width: 100%;
 }
 .sticky{
  margin-top: 500;
    position: fixed;
    top: 50px;
    border-radius: 12px;
    z-index:100;
    width:23%;
    height: 75px;
  background-image: url("/image/sticky.png");
  
}
.header{
  object-fit: cover;
}
img{
  object-fit: cover!important;
}
.sticky p{
  color:white;
  margin-top:9px;
}
.applynow-sticky{
  background-color: transparent;
  border-radius: 6px;
  border:1px solid white;
  color:white;
}
.applynow-sticky:hover{
  color:white;
}
.button-apply-sticky{
  padding-top: 8%;
}
